[submodule "CraneEngine/vendor/spdlog"]
	path = CraneEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CraneEngine/vendor/GLFW"]
	path = CraneEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "CraneEngine/vendor/ImGui"]
	path = CraneEngine/vendor/ImGui
	url = https://github.com/TheCherno/imgui
[submodule "CraneEngine/vendor/glm"]
	path = CraneEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "CraneEngine/vendor/yaml-cpp"]
	path = CraneEngine/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
[submodule "CraneEngine/vendor/ImGuizmo"]
	path = CraneEngine/vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo
