[submodule "CraneEngine/vendor/spdlog"]
	path = CraneEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CraneEngine/vendor/GLFW"]
	path = CraneEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "CraneEngine/vendor/ImGui"]
	path = CraneEngine/vendor/ImGui
	url = https://github.com/TheCherno/imgui
